@{
    ViewData["Title"] = "Home Page";
}

<main class="container">
    <section class="banner">
        <img src="./asset/img/1702x621-2-174231-190126-68.jpg" alt="Banner">
    </section>
    @await Html.PartialAsync("_MovieListPartialView")
</main>
